 @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

 .container-fluid {
   background-color: #75C9C8;
 }

 .social-media {
  background-color: #2193B0;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 45px;
}

.social-media ul {
  align-items: center;
  justify-content: center;
  padding: 40px 133px;
}

.social-media ul a img{
  width: 40px;
}

.social-link{
  width: 40px;
  height: 40px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
}