* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

.container-fluid {
  background-color: #75C9C8;
}

#carouselExample {
  background-color: #DED9E2;
}

.content {
  padding: 10px 15px;
  margin: auto;
  background-color: #75C9C8;
}


.social-media {
  background-color: #80A1D4;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 45px;
}

.social-media ul {
  align-items: center;
  justify-content: center;
  padding: 40px 133px;
}

.social-media ul a img {
  width: 70px;
}

.social-link {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50px;
}